body {
    background-image: url("images/puzzlepiecebackground.jpg");
    background-attachment: fixed;
}

a {
    box-shadow: 0px 0px 15px black;
}

.header {
    display: block;
    width: 100%;
    background-color: #501000;
    background-image: url("images/turtle banner.jpg");
    text-align: center;
}


.navigation {
    font-size: 30px;
    background-color: #501000;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 15px #501000;
}


.content {
    margin: auto;
    box-shadow: 0px 0px 15px white;
    background-color: white;
    
    width: 700px;
    height: 1000px;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    
    text-align: center;
    position: relative;
}

#oval {
    
    bottom: 0;
    
}


